/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/* minimal-test branch: single plain QWERTY layer, nothing else -- no
 * combos, no hold-taps, no display, no ZMK Studio, no GATT sync. Isolating
 * whether BT pairing / keypresses work at all on this hardware with zero
 * of today's accumulated custom code. */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q     &kp W  &kp E  &kp R  &kp T             &kp Y     &kp U     &kp I      &kp O     &kp P
&kp A     &kp S  &kp D  &kp F  &kp G             &kp H     &kp J     &kp K      &kp L     &kp SEMI
&kp Z     &kp X  &kp C  &kp V  &kp B  &kp C_MUTE &kp C_PP  &kp N     &kp M      &kp COMMA &kp DOT  &kp SLASH
                 &kp LSHFT  &kp SPACE  &kp LCTRL  &kp ENTER  &kp BSPC  &kp RSHFT
            >;
        };
    };
};
